@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: rgb(24, 18, 43);
  overflow-y: auto;
  border-radius: 20px;
  margin: 10px 0 10px 10px;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 5px solid rgb(64, 62, 62);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  filter: grayscale(100%);
}

#header .profile img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -400px;
  }

  #main {
    margin-left: 0;
  }

  section .container {
    max-width: 100% !important;
  }

  #hero .hero-container {
    margin-left: 0% !important;
  }
  .about .container {
    padding: 10px !important;
  }

  #about,
  #skills,
  #education,
  #experience {
    margin: 0 20px;
  }

  section .toggle-btn {
    right: 50px !important;
    bottom: 20px !important;
  }

  section .toggle-btn .next,
  section .toggle-btn .pre {
    font-size: 30px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #c6c6c6;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: rgb(57, 48, 83);
  background-size: cover;
  overflow: hidden;
}

section .toggle-btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
  z-index: 99;
  font-size: 40px;
}

section .toggle-btn .next,
section .toggle-btn .pre {
  color: #cbcccf;
}

#hero:before {
  content: "";
  background: rgb(57, 48, 83);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: absolute;
  margin-left: 15%;
  z-index: 2;
  min-width: 300px;
  margin-bottom: 100px;
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

.box {
  font-size: 26px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  margin-bottom: 50px;
  width: 100%;
  text-align: left;
  font-family: century gothic;
}

.b1 {
  animation: ani1 15s infinite;
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.b2 {
  animation: ani2 15s infinite;
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

@keyframes ani1 {
  10% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes ani2 {
  60% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.carousel-inner {
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #ffffff;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .toggle-btn .next,
.about .toggle-btn .pre {
  color: #18122b;
}

.about .container {
  max-width: 90%;
  padding: 50px;
}

.about .section-title p {
  text-align: justify;
  text-indent: 30px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #149ddd;
}

.about .content p:last-child {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# ASkills
--------------------------------------------------------------*/
#skills {
  margin-top: 70px;
}

#skills .toggle-btn .next,
#skills .toggle-btn .pre {
  color: #18122b;
}

.skills .container {
  max-width: 90%;
  padding: 50px;
}

.progress-wrap h3 {
  font-size: 16px;
  font-family: "Quicksand", Arial, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}

.progress {
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #cbcccf;
  overflow: visible;
}

.progress-bar {
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

.progress-bar:after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 10px;
  height: 10px;
  content: "";
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.progress-bar span {
  position: absolute;
  top: -22px;
  right: 0;
}

.progress-bar.color-1 {
  background: #2c98f0;
}

.progress-bar.color-1:after {
  background: #2c98f0;
}

.progress-bar.color-1 span {
  color: #2c98f0;
}

.progress-bar.color-2 {
  background: #ec5453;
}

.progress-bar.color-2:after {
  background: #ec5453;
}

.progress-bar.color-2 span {
  color: #ec5453;
}

.progress-bar.color-3 {
  background: #f9bf3f;
}

.progress-bar.color-3:after {
  background: #f9bf3f;
}

.progress-bar.color-3 span {
  color: #f9bf3f;
}

.progress-bar.color-4 {
  background: #a84cb8;
}

.progress-bar.color-4:after {
  background: #a84cb8;
}

.progress-bar.color-4 span {
  color: #a84cb8;
}

.progress-bar.color-5 {
  background: #2fa499;
}

.progress-bar.color-5:after {
  background: #2fa499;
}

.progress-bar.color-5 span {
  color: #2fa499;
}

.progress-bar.color-6 {
  background: #4054b2;
}

.progress-bar.color-7,
.progress-bar.color-7::after {
  background: #e002e4;
}

.progress-bar.color-7 span {
  color: #e002e4;
}

.progress-bar.color-8,
.progress-bar.color-8::after {
  background: #000000;
}

.progress-bar.color-8 span {
  color: #000000;
}
.progress-bar.color-9,
.progress-bar.color-8::after {
  background: #cb0418;
}

.progress-bar.color-9 span {
  color: #cb0418;
}

.progress-bar.color-6:after {
  background: #4054b2;
}

.progress-bar.color-6 span {
  color: #4054b2;
}

/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/

.education .toggle-btn .next,
.education .toggle-btn .pre {
  color: #18122b;
}

.education .container {
  max-width: 90%;
  padding: 50px;
}

.education .education-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.education .education-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.education .education-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.education .education-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.education .education-item ul {
  padding-left: 20px;
}

.education .education-item ul li {
  padding-bottom: 10px;
}

.education .education-item:last-child {
  padding-bottom: 0;
}

.education .education-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/
.experience .toggle-btn .next,
.experience .toggle-btn .pre {
  color: #18122b;
}

.experience .container {
  max-width: 90%;
  padding: 50px;
}

.experience .experience-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.experience .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.experience .experience-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.experience .experience-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.experience .experience-item ul {
  padding-left: 20px;
}

.experience .experience-item ul li {
  padding-bottom: 10px;
}

.experience .experience-item:last-child {
  padding-bottom: 0;
}

.experience .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
